<div class="row">
  <div class="col-xs-12">
    <div class="page-header"><h1>
      <%= presenter.to_model.title %>
    </h1></div>

    <dl class="dl-horizontal file-show-term file-show-descriptions">
      <% presenter.present_terms(self) do |r, term| %>
        <dt><%= r.label(term) %></dt>
        <dd><%= r.value(term) %></dd>
      <% end %>
    </dl>
  </div>
</div>
