<% if can?(:start_fixity_check, Oubliette::PreservedFile) %>
<li><%= link_to("Start fixity check job", engine_paths.polymorphic_path(@resource, action: :start_fixity_check), method: "POST") %></li>
<% end %>